.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 15px; */
    gap: 15px;
}

.app-container table,
.app-container th,
.app-container td {
    border: 1px solid black;
}

.app-container th,
.app-container td {
    /* width: 150px; */
    text-transform: capitalize;
}

.btn-container {
    display: flex;
    gap: 10px
}

.app-container input{
    width: fit-content;
}
.app-container .small-column{
    width: 40px;
}